.dataTables_length, .dataTables_filter, .dataTables_info, .dataTables_paginate {
    padding: 20px;
}

.dataTables_info, .dataTables_paginate {
    margin-top: 10px;
}

.table-responsive {
    scrollbar-width: none;   /* Firefox */
    -ms-overflow-style: none;   /* IE e Edge antigo */
}

/* Chrome, Safari, Edge */
.table-responsive::-webkit-scrollbar {
    display: none;
}